= render "chatspace"
.chat
  .top
    .top__chatgroup
      .top__chatgroup-name= @group.name
      %ul
        %li Member：
        - @group.members.each do |member|
          %li.member= member.user.name
    .top__chatgroup--editbtn
      = link_to  "Edit", edit_group_path(@group)

  .messages
    - @group.messages.each do |message|
      .messages__message
        .messages__message--upper-message
          .message-user= message.user.name
          .message-date= message.created_at
        .messages__message--lower-message
        %p= message.body
        - if message.image.present?
          %p= image_tag(message.image)

  .bottoms
    = form_for [@group, @message], url: group_messages_path do |f|
      .textfield
      = f.text_field :body, placeholder: "type a message", class: "textarea"
      .imagefield
        = f.label :image do
          %i.fa.fa-picture-o
        = f.file_field :image, class: "fileInput",style: "display:none;"
      = f.submit "Send", class: "submit"
